/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
#header {
    margin-top: 5px;
    text-align: center;
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    font-size: 22px;
}

/* Left Menu */
#left {
    float: left;
    width: 15%;
    min-height: 500px;
    background-color: #ecf0f1;
    padding: 15px;
}

/* Main Content */
#main {
    float: right;
    width: 80%;
    min-height: auto;
    padding: 20px;
    background-color: #ffffff;
}

/* Footer */
#footer {
    clear: both;
    text-align: center;
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}

/* Headings */
h2 {
    text-align: left;
    font-size: 25px;
    margin-bottom: 10px;
}
